:root {
  --main-color: #0d42a9;
  --hover: #a2b4da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background: rgb(6, 1, 88);
  background: linear-gradient(
    90deg,
    rgba(6, 1, 88, 1) 0%,
    rgba(7, 7, 123, 1) 7%,
    rgba(13, 66, 169, 1) 43%,
    rgba(9, 103, 187, 1) 83%,
    rgba(71, 127, 209, 1) 100%
  );
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.logo {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.3em;
}

.navi a {
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
  font-weight: 400;
  font-size: 1.7rem;
  margin-right: 50px;
}

.navi a:hover {
  color: var(--hover);
}

.main img {
  min-height: calc(80vh);
  width: 90%;
  margin-left: 5%;
  margin-top: 100px;
  border-radius: 20px;
}

.product h2 {
  color: #1c65a5;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}

.card {
  border: 3px solid var(--main-color);
  border-radius: 20px;
  height: auto;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  padding: 10px;
  border-radius: 20px;
}

.card a.btn {
  color: #fff;
  padding: 10px 10px;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.7s ease;
}

.card .btn:hover {
  transform: scale(1.1);
}

.card p {
  font-weight: 500;
  font-size: 1.4rem;
  font-style: italic;
}

.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-body a {
  background-color: var(--main-color);
}

.cards {
  margin-left: 10%;
}
